# Python (Archivos de ejecución y caché)
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Excel y Archivos Temporales (Crucial para OneDrive)
~$*.xlsx
*.xlsm
*.csv
.ipynb_checkpoints

# CrewAI y Logs
*.log
training_data.pkl

# IDEs (VS Code, PyCharm)
.vscode/
.idea/